<header>
  <h1><%= @author.name %></h1>
</header>

<nav>
  <%= link_to 'Home', root_path %>
  <%= link_to 'Browse Books', books_path %>
</nav>

<% @author.books.each do |book| %>
<section id=<%= "book-#{book.id}" %>>
  <a href=<%= book_path(book) %>><%= book.title %></a>
  <% @author.co_authors(book).each do |coauthor| %>
    <a href=<%= author_path(coauthor) %>><%= coauthor.name %></a>
  <% end %>
  <p>Publication Year: <%= book.published %></p>
  <p>Page Count: <%= book.pages %></p>
<% end %>
</section>
<footer><%= button_to "Delete Author", author_path(@author), method: :delete %></footer>
