<header>
  <h1><%= @author.name %></h1>
</header>

<nav>
  <%= link_to 'Home', root_path %>
  <%= link_to 'Browse Books', books_path %>
</nav>

<% @author.books.each do |book| %>
<section id=<%= "book-#{book.id}" %>>
  <%= link_to book.title, book_path(book) %>
  <% @author.co_authors(book).each do |coauthor| %>
    <%= link_to coauthor.name, author_path(coauthor) %>
  <% end %>
  <p>Publication Year: <%= book.published %></p>
  <p>Page Count: <%= book.pages %></p>
<% end %>
</section>
