<header>
  <h1><%= @author.name %></h1>
</header>

<nav>
  <%= link_to 'Home', root_path %>
  <%= link_to 'Browse Books', books_path %>
</nav>

<% @author.books.each do |book| %>
<section id=<%= "book-#{book.id}" %>>
  <%= link_to book.title, book_path(book) %>
  <% @author.co_authors(book).each do |coauthor| %>
    <%= link_to coauthor.name, author_path(coauthor) %>
  <% end %>
  <p>Publication Year: <%= book.published %></p>
  <p>Page Count: <%= book.pages %></p>
  <% if book.reviews != [] %>
  <div class="top-review">
    <h5>Top Review</h5>
    <p><%= book.top_review.title %></p>
    <p><%= link_to book.top_review.user.name, user_path(book.top_review.user) %></p>
    <p>Rating: <%= book.top_review.rating %></p>
  </div>
  <% end %>
</section>
<% end %>
