<h1> <%= @user.name %> </h1>
<% @user.reviews.each do |review| %>
<h3>Title: <%= review.title%></h3>
<p>Book Title: <%= review.book.title%></p>
<p><%= review.review%></p>
<p>Rating: <%= review.rating%></p>
<p>Date Reviewed: <%= review.created_at.to_date.to_s %></p>
<img src=<%= review.book.cover %> alt="book cover">
<% end %>
