<header>
  <h1>Books</h1>
</header>

<nav>
  <%= link_to 'Home', root_path %>
  <%= link_to 'Add Book', new_book_path %>
</nav>

<section class="book-stats">
  <section id="best-books">
    <h3>Highest Rated Books</h3>
    <% @books.best.each do |book| %>
      <%= link_to book.title, book_path(book) %>
      Rating: <%= book.average_score unless book.reviews == [] %>
    <% end %>
  </section>
  <section id="worst-books">
    <h3>Lowest Rated Books</h3>
    <% @books.worst.each do |book| %>
    <%= link_to book.title, book_path(book) %>
      Rating: <%= book.average_score unless book.reviews == [] %>
    <% end %>
  </section>
  <section id="top-users">
    <h3>Most Reviews By:</h3>
    <% @top_users.each do |user| %>
      <%= link_to user.name, user_path(user) %>
      Review Count: <%= user.review_count %>
    <% end %>
  </section>
</section>

<div>
  <div class='sort-styles'>
    <p>Sort By:</p>
    <%= link_to 'average rating (highest to lowest)', books_path(sort: 'avg rating desc') %>
    <%= link_to 'average rating (lowest to highest)', books_path(sort: 'avg rating asc') %>
    <%= link_to 'page count (highest to lowest)', books_path(sort: 'pages desc') %>
    <%= link_to 'page count (lowest to highest)', books_path(sort: 'pages asc') %>
    <%= link_to 'number of reviews (highest to lowest)', books_path(sort: 'reviews desc') %>
    <%= link_to 'number of reviews (lowest to highest)', books_path(sort: 'reviews asc') %>
  </div>
  <a href=<%= new_book_path %>>Add Book</a>
</div>
<ul>
  <% @books.each do |book| %>
  <li class='book' id=<%= "book-#{book.id}" %>>
    <h3><%= link_to book.title, book_path(book) %></h3>
    <img src=<%= book.cover %> alt="book cover">
    <div class='book-info'>
      <% book.authors.each do |author| %>
        <%= link_to author.name, author_path(author) %>
      <% end %>
      <p>Page Count: <%= book.pages %></p>
      <p>Publication Year: <%= book.published %></p>
      <% if book.reviews.count > 0 %>
        <p>Average Rating: <%= book.average_score %></p>
        <p>Review Count: <%= book.review_count %></p>
      <% end %>
  </div>
  </li>
  <% end %>
</ul>
