<header>
  <h1>Books</h1>
</header>

<section class="book-stats">
  <section id="best-books">
    <h3>3 Highest Rated Books</h3>
    <% @books.best.each do |book| %>
      <p><%= book.title %>
      Rating: <%= book.average_score %></p>
    <% end %>
  </section>
  <section id="worst-books">
    <h3>3 Lowest Rated Books</h3>
    <% @books.worst.each do |book| %>
    <p><%= book.title %>
      Rating: <%= book.average_score %></p>
    <% end %>
  </section>
  <section id="top-users">
    <h3>Most Reviews By:</h3>
    <% @top_users.each do |user| %>
      <p><%= user.name %>
      Review Count: <%= user.review_count %></p>
    <% end %>
  </section>
</section>

<div>
  <a>Sort Styles</a>
  <a href=<%= new_book_path %>>Add Book</a>
</div>
<ul>
  <% @books.each do |book| %>
  <li id=<%= "book-#{book.id}" %>>
    <h3><%= book.title %></h3>
    <img src=<%= book.cover %> alt="book cover">
    <div class='book-info'>
      <p><%= book.author_names %></p>
      <p>Page Count: <%= book.pages %></p>
      <p>Publication Year: <%= book.published %></p>
      <p>Average Rating: <%= book.average_score %></p>
  </div>
  </li>
  <% end %>
</ul>
