<h1>Books</h1>
<section id="best-books">
  <h3>3 Highest Rated Books</h3>
  <% @books.best.each do |book| %>
    <%= book.title %>
    <%= book.average_score %>
  <% end %>
</section>
<section id="worst-books">
  <h3>3 Lowest Rated Books</h3>
  <% @books.worst.each do |book| %>
    <%= book.title %>
    <%= book.average_score %>
  <% end %>
</section>
<section id="top-users">
  <h3>Most Reviews By:</h3>
  <% @books.top_users.each do |user| %>
    <%= user.name %>
    <%= user.review_count %>
  <% end %>
</section>
<a href=<%= new_book_path %>>Add Book</a>
<% @books.each do |book| %>
<h3><%= book.title %></h3>
<p><%= book.author_names %></p>
<p><%= book.pages %></p>
<p><%= book.published %></p>
<img src=<%= book.cover %> alt="book cover">
<% end %>
