<header>
  <h2>Add Book</h2>
</header>

<nav>
  <%= link_to 'Home', root_path %>
  <%= link_to 'Browse Books', books_path %>
</nav>


<%= form_for @book do |f| %>
<%= f.label :title %>
<%= f.text_field :title %>

<%= f.label :authors, "Author(s)" %>
<%= f.text_field :authors, value: '' %>

<%= f.label :published, "Publication Year" %>
<%= f.number_field :published, in: 1455..2019 %>

<%= f.label :pages, "Page Count"%>
<%= f.text_field :pages %>

<%= f.label :cover, "Cover Image (optional)"%>
<%= f.text_field :cover %>

<%= f.submit "Add Book"%>
<% end %>
