<% if @book.reviews != [] %>
  <section id="best-reviews">
    <h4>Best 3 Reviews</h4>
    <% @book.best_reviews.each do |review| %>

      <section class='best-review'>
        <p>Title: <%= review.title %></p>
        <p>Rating: <%= review.rating %></p>
        <p>Reviewer: <%= link_to review.user.name, user_path(review.user) %></p>
      </section>
      <br/>
    <% end %>
  </section>
  <section id="worst-reviews">
    <h4>Worst 3 Reviews</h4>
    <% @book.worst_reviews.each do |review| %>
      <section class='worst-review'>
        <p>Title: <%= review.title %></p>
        <p>Rating: <%= review.rating %></p>
        <p>Reviewer: <%= link_to review.user.name, user_path(review.user) %></p>
      </section>
    <br/>
    <% end %>
  </section>
  <section id="average-review">
    <h4>Average Review Score</h4>
    <p><%= @book.average_score %></p>
  </section>
<% end %>

<h1><%= @book.title %></h1>
<p>Author(s): <%= @book.author_names %></p>
<p>Page Count: <%= @book.pages %></p>
<p>Publication Date: <%= @book.published %></p>
<img src=<%= @book.cover %> alt="book cover">
<a href=<%= new_book_review_path(@book) %>>Add Review</a>
<h3>Reviews</h3>
<% @book.reviews.each do |review| %>

<article id=<%= "review-#{review.id}" %>>
  <h5><%= review.title %></h5>
  <%= link_to  review.user.name, user_path(review.user) %>
  <p>Rating: <%= review.rating %></p>
  <p><%= review.review %></p>
</article>
<% end %>
