<h1><%= @book.title %></h1>
<p>Author: <%= @book.author %></p>
<p>Page Count: <%= @book.pages %></p>
<p>Publication Date: <%= @book.published %></p>
<img src=<%= @book.cover %> alt="book cover">
<a href=<%= new_review_path %>>Add Review</a>
