<header>
</header>

<nav>
  <%= link_to 'Home', root_path %>
  <%= link_to 'Browse Books', books_path %>
</nav>

<h2>Add Review for <%= link_to @book.title, book_path(@book) %></h2>

<img src=<%= @book.cover %> alt="book cover">

<%= form_for [@book, @review] do |f| %>
<%= f.label :title %>
<%= f.text_field :title %>

<%= f.label :user, "Username" %>
<%= f.text_field :user %>

<%= f.label :rating %>
<%= f.number_field :rating, in: 1..5 %>

<%= f.label :review %>
<%= f.text_field :review %>

<%= f.submit %>
<% end %>
